#estilo_MainView{
	-fx-background-color: #318A83; 
	-fx-alignment: top_center;
	-fx-font-size: 24px;
	-fx-font-weight:bold;
	-fx-font-family: 'Times New Roman';
	
}
#estilo_GastoView{
	-fx-background-color: #318A83; 
	-fx-alignment: top_center;
	-fx-font-size: 24px;
	-fx-font-weight:bold;
	-fx-font-family: 'Times New Roman';
	
}
#estilo_CuentaCompartidaView{
	-fx-background-color: #318A83; 
	-fx-alignment: top_center;
	-fx-font-size: 24px;
	-fx-font-weight:bold;
	-fx-font-family: 'Times New Roman';
	
}
#estilo_NotificacionesView{
	-fx-background-color: #318A83; 
	-fx-alignment: top_center;
	-fx-font-size: 24px;
	-fx-font-weight:bold;
	-fx-font-family: 'Times New Roman';
	
}
#estilo_HistorialNotificacionesView{
	-fx-background-color: #318A83; 
	-fx-alignment: top_center;
	-fx-font-size: 24px;
	-fx-font-weight:bold;
	-fx-font-family: 'Times New Roman';
	
}

#estilo_FiltroView{
	-fx-background-color: #318A83; 
	-fx-alignment: top_center;
	-fx-font-size: 24px;
	-fx-font-weight:bold;
	-fx-font-family: 'Times New Roman';
	
}
#estilo_TablaView{
	-fx-background-color: #318A83; 
	-fx-alignment: top_center;
	-fx-font-size: 24px;
	-fx-font-weight:bold;
	-fx-font-family: 'Times New Roman';
	
}
.MenuButtonEstilo .menu-item {
    -fx-background-color: #a497ba; 
}

.MenuButtonEstilo .menu-item:focused {
    -fx-background-color: #7f69a5; 
}
.menu-bar {
    -fx-background-color: #2e7d32; 
	-fx-font-size: 14px;
	-fx-border-color: #1b5e20;  
	-fx-border-width: 2px;
}

.menu-bar .label {
	-fx-font-size: 12px;
}

.context-menu {
    -fx-background-color: #2e7d32;
    -fx-border-color: #1b5e20;   
    -fx-border-width: 2px;
}


.menu-item .label {
    -fx-text-fill: white;
    -fx-font-family: 'Times New Roman';
}

.menu-item:focused, .menu-item:hover {
    -fx-background-color: #4caf50;
}



.menu-bar .menu:hover {
    -fx-background-color: #4caf50; 
}

.menu-bar .menu:showing {
    -fx-background-color: #1b5e20; 
}
.label-sombreado {
	-fx-text-fill: white;
	-fx-font-family: 'Times New Roman';
	    -fx-font-size: 24px;
	    -fx-font-weight: bold;
	    -fx-effect: dropshadow(three-pass-box, black, 2, 1.0, 0, 0);
}
